@tailwind utilities;

:host {
  background-color: theme('colors.tone-neutral-09');
  display: grid;
  min-width: 0;
  position: relative;
}

.content {
  @apply
    gap-200
    p-400;

  align-items: flex-end;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
}

.img {
  object-fit: contain;
}

@import '../../tailwind/fouc.css';
