@tailwind utilities;

:host( [variant="info"] ) {

  --mds-input-field-message-color: theme('colors.status-info-02');
  --mds-input-field-message-background: theme('colors.status-info-09');
}

:host( [variant="success"] ) {

  --mds-input-field-message-color: theme('colors.status-success-02');
  --mds-input-field-message-background: theme('colors.status-success-09');
}

:host( [variant="warning"] ) {

  --mds-input-field-message-color: theme('colors.status-warning-02');
  --mds-input-field-message-background: theme('colors.status-warning-09');
}

:host( [variant="error"] ) {

  --mds-input-field-message-color: theme('colors.status-error-02');
  --mds-input-field-message-background: theme('colors.status-error-09');
}
