@tailwind utilities;

/**
 * @prop --mds-kpi-text-animation-placeholder-char: Sets the animation placeholder char of the text
 * @prop --mds-kpi-text-animation-speed: Sets the animation speed of the text
 */

:host {

  --mds-kpi-text-animation-speed: 0.15;
  --mds-kpi-text-animation-placeholder-char: " ";

  @apply gap-400;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

@import '../../tailwind/fouc.css';
