@tailwind utilities;

/**
 * @prop --mds-accordion-border-color: Sets the border-color of the component children mds-accordion-item
 * @prop --mds-accordion-border-color: Sets the border-width of the separators of the component children mds-accordion-item
 * @prop --mds-accordion-color: Sets the text-color of the component children mds-accordion-item
 * @prop --mds-accordion-description-color: Sets the color of the always visible title description
 * @prop --mds-accordion-duration: Sets the transition duration of the close/open animation of the component children mds-accordion-item
 * @prop --mds-accordion-padding-selected: Sets the vertical padding of the component children mds-accordion-item when it's selected
 * @prop --mds-accordion-padding-unselected: Sets the vertical padding of the component children mds-accordion-item when it's unselected
 */

:host {

  --mds-accordion-border-color: theme('colors.tone-neutral-08');
  --mds-accordion-border-width: 2px;
  --mds-accordion-color: theme('colors.tone-neutral-03');
  --mds-accordion-description-color: theme('colors.tone-neutral-02');
  --mds-accordion-duration: 300ms;
  --mds-accordion-padding-selected: theme('spacing.400') 0 theme('spacing.800') 0;
  --mds-accordion-padding-unselected: theme('spacing.400') 0;

  display: grid;
}

@import './css/mds-accordion-pref-animation.css';
@import './css/mds-accordion-pref-theme.css';
@import './css/mds-accordion-pref-contrast.css';
@import '../../tailwind/fouc.css';
