@tailwind utilities;

@container style(--magma-pref-contrast: more) {
  :host {

    --mds-chip-background: theme('colors.tone-neutral');
    --mds-chip-color: theme('colors.tone-neutral-02');
    --mds-chip-icon-background-selected: theme('colors.variant-primary-03');
    --mds-chip-icon-color: theme('colors.tone-neutral');
    --mds-chip-opacity-disabled: var(--opacity-disabled, 0.6);
    --mds-chip-backgroud-selected: theme('colors.tone-neutral-09');
    --mds-chip-color-selected: theme('colors.tone-neutral-01');
    --mds-chip-icon-color-selected: theme('colors.tone-neutral');

    box-shadow: theme('boxShadow.outline-50');
  }
}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host {

      --mds-chip-background: theme('colors.tone-neutral');
      --mds-chip-color: theme('colors.tone-neutral-02');
      --mds-chip-icon-background-selected: theme('colors.variant-primary-03');
      --mds-chip-icon-color: theme('colors.tone-neutral');
      --mds-chip-opacity-disabled: var(--opacity-disabled, 0.6);
      --mds-chip-backgroud-selected: theme('colors.tone-neutral-09');
      --mds-chip-color-selected: theme('colors.tone-neutral-01');
      --mds-chip-icon-color-selected: theme('colors.tone-neutral');

      box-shadow: theme('boxShadow.outline-50');
    }
  }
}

