@tailwind utilities;

:host {
  display: flex;
}

.button {

  --mds-button-background: var(--mds-tab-item-default-background);
  --mds-button-color: var(--mds-tab-item-default-color);
  --mds-button-radius: var(--mds-tab-item-radius);

  flex-grow: 1;
}

.button:hover {

  --mds-button-background: var(--mds-tab-item-hover-background);
  --mds-button-color: var(--mds-tab-item-hover-color);
}

:host([selected]:not([selected="false"])) .button,
:host([selected]:not([selected="false"])) .button:hover {

  --mds-button-background: var(--mds-tab-item-selected-background);
  --mds-button-color: var(--mds-tab-item-selected-color);

  box-shadow: var(--mds-tab-item-selected-shadow);
  pointer-events: none;
}

@import './css/mds-tab-item-pref-theme.css';
@import './css/mds-tab-item-pref-contrast.css';
@import '../../tailwind/fouc.css';
