@tailwind utilities;

/**
 * @prop --mds-notification-color: Sets the text color of the component
 * @prop --mds-notification-dot-background: Sets the background-color of the component
 * @prop --mds-notification-dot-padding: Sets the size of the component
 * @prop --mds-notification-size: Sets the size of the component
 * @prop --mds-notification-ring-size: Sets the border size of ring around the notification
 * @prop --mds-notification-ring-color: Sets the border color of ring around the notification
 * @prop --mds-notification-translate-offset-x: Sets offset x positioning of the notification
 * @prop --mds-notification-translate-offset-y: Sets offset y positioning of the notification
 */

:host {

  --mds-notification-color: theme('colors.tone-neutral');
  --mds-notification-dot-background: theme('colors.status-error-05');
  --mds-notification-dot-padding: 6px;
  --mds-notification-size: 20px;
  --mds-notification-ring-size: 2px;
  --mds-notification-transition-timing-function: theme('transitionTimingFunction.out-cubic');
  --mds-notification-transition-duration: theme('transitionDuration.200');
  --mds-notification-ring-color: theme('colors.tone-neutral');
  --mds-notification-translate-offset-x: -1.75;
  --mds-notification-translate-offset-y: -2;
  --mds-notification-translate: translate(calc(var(--mds-notification-size) / var(--mds-notification-translate-offset-x)), calc(var(--mds-notification-size) / var(--mds-notification-translate-offset-y)));
  --mds-notification-min-width: var(--mds-notification-size);

  @apply
    rounded-full
    z-10;

  align-items: center;
  bottom: 100%;
  color: var(--mds-notification-color);
  display: inline-flex;
  height: var(--mds-notification-size);
  justify-content: flex-end;
  min-width: max-content;
  pointer-events: none;
  width: var(--mds-notification-size);
}

:host([strategy="absolute"]),
:host([strategy="fixed"]) {
  opacity: 0;
  right: 100%;
  transform: var(--mds-notification-translate) scale(0);
  transform-origin: calc(100% - calc(var(--mds-notification-size) / 2)) 50%;
  transition-duration: var(--mds-notification-transition-duration);
  transition-property: color, height, opacity, transform, width;
  transition-timing-function: var(--mds-notification-transition-timing-function);
}

:host( [strategy="absolute"] ) {
  position: absolute;
}

:host( [strategy="fixed"] ) {
  position: fixed;
}

.dot {
  @apply
    duration-300
    ease-in-out
    rounded-full;

  align-items: center;
  background-color: var(--mds-notification-dot-background);
  box-shadow: 0 0 0 var(--mds-notification-ring-size) var(--mds-notification-ring-color);
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  line-height: var(--mds-notification-size);
  min-width: var(--mds-notification-min-width);
  padding-left: var(--mds-notification-dot-padding);
  padding-right: var(--mds-notification-dot-padding);
  position: static;
  transition-property: background-color, color, box-shadow;
  white-space: nowrap;
}

:host([strategy="absolute"]) .dot,
:host([strategy="fixed"]) .dot {
  position: absolute;
}

.spacer {
  box-sizing: border-box;
  display: inline-flex;
  height: var(--mds-notification-size);
  width: var(--mds-notification-min-width);
}

:host( [visible="false"][strategy="absolute"] ),
:host( [visible="false"][strategy="fixed"] ) {
  @apply
    ease-in-cubic
    opacity-100;

  transform: var(--mds-notification-translate) scale(0);
}

:host( [visible="true"][strategy="absolute"] ),
:host( [visible="true"][strategy="fixed"] ),
:host( [strategy="absolute"]:not([visible="false"]) ),
:host( [strategy="fixed"]:not([visible="false"]) ) {
  @apply
    ease-out-cubic
    opacity-100;

  transform: var(--mds-notification-translate) scale(1);
}



:host( [strategy="disabled"] ),
:host( :not([target]) ) {
  @apply opacity-100;

  position: static;
  transform: scale(1);
  transform-origin: unset;
  transition-duration: 0ms
}

:host( [strategy="disabled"] ) .dot,
:host( :not([target]) ) .dot {
  position: static;
}

@import './css/mds-notification-pref-animation.css';
@import '../../tailwind/fouc.css';
