@import '../../tailwind/components.css';

@tailwind components;
@tailwind utilities;

:host {

  --mds-img-background: theme('colors.variant-primary-03');
  --mds-img-color: theme('colors.variant-primary-09');
  --mds-img-icon-color: theme('colors.variant-primary-07');
  --mds-img-error-background: theme('colors.status-error-09');
  --mds-img-error-color: theme('colors.status-error-04');
  --mds-img-error-icon-color: theme('colors.status-error-06');

  display: flex;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

img {
  @apply w-full;

  object-fit: inherit;
}

.alt-text-container {
  @apply
    gap-600
    p-600;

  align-items: center;
  background-color: var(--mds-img-background);
  color: var(--mds-img-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.alt-text-container--absolute {
  cursor: pointer;
  inset: 0;
  position: absolute;
}

.alt-text-container--error {

  --mds-img-background: var(--mds-img-error-background);
  --mds-img-color: var(--mds-img-error-color);
  --mds-img-icon-color: var(--mds-img-error-icon-color);

  cursor: not-allowed;
}

.alt-text-container--default-aspect-ratio {
  cursor: pointer;
  width: 100%;
}

.click-to-load {
  pointer-events: none;
}

.icon {

  @apply w-900;

  fill: var(--mds-img-icon-color);
}

@import '../../tailwind/fouc.css';
