@tailwind utilities;

@container style(--magma-pref-contrast: more) {
  :host {

    --mds-details-icon-color: theme('colors.variant-primary-03');
    --mds-details-helper-icon-color: theme('colors.tone-neutral-02');
  }
}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host {

      --mds-details-icon-color: theme('colors.variant-primary-03');
      --mds-details-helper-icon-color: theme('colors.tone-neutral-02');
    }
  }
}

