@tailwind utilities;

:host {

  --mds-input-select-icon-color: var(--variant-primary-03);
  --mds-input-select-variant-color: 0 0 0;
  --mds-input-select-arrow-icon-blur-background-color: rgb(var(--variant-primary-09));
  --mds-input-select-arrow-icon-hover-background-color: rgb(var(--variant-primary-08));
  --mds-input-select-arrow-icon-blur-color: rgb(var(--variant-primary-06));
  --mds-input-select-arrow-icon-hover-color: rgb(var(--variant-primary-04));
}

:host( :hover ),
:host( :focus-within ) {

  --mds-input-select-variant-color: var(--variant-primary-04);
}

:host( [variant="info"] ) {

  --mds-input-select-icon-color: var(--status-info-05);
  --mds-input-select-tip-background: var(--status-info-05);
  --mds-input-select-arrow-icon-blur-background-color: rgb(var(--status-info-09));
  --mds-input-select-arrow-icon-hover-background-color: rgb(var(--status-info-08));
  --mds-input-select-arrow-icon-blur-color: rgb(var(--status-info-06));
  --mds-input-select-arrow-icon-hover-color: rgb(var(--status-info-04));
  --mds-input-select-variant-color: 0 0 0;
}

:host( [variant="info"]:hover ),
:host( [variant="info"]:focus-within ) {

  --mds-input-select-icon-color: var(--status-info-04);
  --mds-input-select-variant-color: var(--status-info-05);
}

:host( [variant="success"] ) {

  --mds-input-select-icon-color: var(--status-success-05);
  --mds-input-select-tip-background: var(--status-success-05);
  --mds-input-select-arrow-icon-blur-background-color: rgb(var(--status-success-09));
  --mds-input-select-arrow-icon-hover-background-color: rgb(var(--status-success-08));
  --mds-input-select-arrow-icon-blur-color: rgb(var(--status-success-06));
  --mds-input-select-arrow-icon-hover-color: rgb(var(--status-success-04));
  --mds-input-select-variant-color: 0 0 0;
}

:host( [variant="success"]:hover ),
:host( [variant="success"]:focus-within ) {

  --mds-input-select-icon-color: var(--status-success-04);
  --mds-input-select-variant-color: var(--status-success-05);
}

:host( [variant="warning"] ) {

  --mds-input-select-icon-color: var(--status-warning-05);
  --mds-input-select-tip-background: var(--status-warning-05);
  --mds-input-select-arrow-icon-blur-background-color: rgb(var(--status-warning-09));
  --mds-input-select-arrow-icon-hover-background-color: rgb(var(--status-warning-08));
  --mds-input-select-arrow-icon-blur-color: rgb(var(--status-warning-06));
  --mds-input-select-arrow-icon-hover-color: rgb(var(--status-warning-04));
  --mds-input-select-variant-color: 0 0 0;
}

:host( [variant="warning"]:hover ),
:host( [variant="warning"]:focus-within ) {

  --mds-input-select-icon-color: var(--status-warning-04);
  --mds-input-select-variant-color: var(--status-warning-05);
}

:host( [variant="error"] ) {

  --mds-input-select-icon-color: var(--status-error-05);
  --mds-input-select-tip-background: var(--status-error-05);
  --mds-input-select-arrow-icon-blur-background-color: rgb(var(--status-error-09));
  --mds-input-select-arrow-icon-hover-background-color: rgb(var(--status-error-08));
  --mds-input-select-arrow-icon-blur-color: rgb(var(--status-error-06));
  --mds-input-select-arrow-icon-hover-color: rgb(var(--status-error-04));
  --mds-input-select-variant-color: 0 0 0;
}

:host( [variant="error"]:hover ),
:host( [variant="error"]:focus-within ) {

  --mds-input-select-icon-color: var(--status-error-04);
  --mds-input-select-variant-color: var(--status-error-05);
}
