@tailwind utilities;

/**
 * @prop --mds-price-table-features-padding: Sets the cell padding of the children components
 * @prop --mds-price-table-features-border-color: Sets the border-color of the children components
 */

:host {

  --mds-price-table-features-border-color: theme('colors.tone-neutral-06');
  --mds-price-table-features-padding: theme('spacing.300');

  @apply
    duration-200
    ease-in-out;

  display: flex;
  transition-property: border-color;
  width: 100%;
}

.table-wrapper {
  @apply scroll-mx-600;

  width: 100%;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
}

header {
  border-bottom: 1px solid var(--mds-price-table-features-border-color);
  padding: var(--mds-price-table-features-padding) var(--mds-price-table-features-padding) var(--mds-price-table-features-padding) 0;
}

@import './css/mds-price-table-features-pref-animation.css';
@import './css/mds-price-table-features-pref-theme.css';
@import './css/mds-price-table-features-pref-contrast.css';
@import '../../tailwind/fouc.css';
