@tailwind utilities;

/**
 * @prop --mds-usage-background: Sets the background-color of the component
 * @prop --mds-usage-border-width: Sets the colored border-size of the component
 */

:host {

  --mds-usage-background: theme('colors.status-info-10');
  --mds-usage-badge-background: theme('colors.status-info-05');
  --mds-usage-badge-color: theme('colors.status-info-10');
  --mds-usage-color: theme('colors.tone-neutral-03');

  @apply
    duration-200
    ease-out
    gap-400
    p-600
    rounded-xl;

  background-color: var(--mds-usage-background);
  color: var(--mds-usage-color);
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: minmax(0, 100%);
  position: relative;
  transition-property: background-color, box-shadow, color;
}

.header {
  @apply px-600;

  align-items: center;
  color: var(--mds-usage-badge-color);
  display: flex;
  height: 0;
  inset: 0 0 auto;
  justify-content: center;
  position: absolute;
}

.icon {
  flex-shrink: 0;
}

.badge {
  @apply
    duration-200
    ease-out
    gap-200
    px-400
    py-100
    rounded-full;

  background-color: var(--mds-usage-badge-background);
  display: flex;
  fill: var(--mds-usage-badge-color);
  transition-property: background-color, color, fill;
}

:host([variant="do"]) {

  --mds-usage-background: theme('colors.status-success-10');
  --mds-usage-badge-background: theme('colors.status-success-05');
  --mds-usage-badge-color: theme('colors.status-success-10');
  --mds-usage-color: theme('colors.status-success-02');
}

:host([variant="dont"]) {

  --mds-usage-background: theme('colors.status-error-10');
  --mds-usage-badge-background: theme('colors.status-error-05');
  --mds-usage-badge-color: theme('colors.status-error-10');
  --mds-usage-color: theme('colors.status-error-02');
}

:host([variant="warn"]) {

  --mds-usage-background: theme('colors.status-warning-10');
  --mds-usage-badge-background: theme('colors.status-warning-08');
  --mds-usage-badge-color: theme('colors.status-warning-01');
  --mds-usage-color: theme('colors.status-warning-02');
}

@import './css/mds-usage-pref-animation.css';
@import './css/mds-usage-pref-theme.css';
@import './css/mds-usage-pref-contrast.css';
@import '../../tailwind/fouc.css';
