:root {

  --magma-backdrop-blur: 4px;
  --magma-backdrop-color: 0 0 0;
  --magma-backdrop-opacity: 0.1;
  --magma-backdrop-z-index: 4000;
  --magma-backdrop-animation-duration: 300ms;
  --magma-backdrop: rgba(var(--magma-backdrop-color) / var(--magma-backdrop-opacity));
  --magma-disabled-opacity: 0.5;
  --magma-dropdown-z-index: 5000;
  --magma-header-z-index: 1000;
  --magma-modal-z-index: 3000;
  --magma-notification-z-index: 2000;
  --magma-outline-animation-duration: 1.5s;
  --magma-outline-blur-color: transparent;
  --magma-outline-blur-offset: 6px;
  --magma-outline-blur: 2px solid var(--magma-outline-blur-color);
  --magma-outline-focus-color: rgb(var(--tone-neutral-04, 0 0 0));
  --magma-outline-focus-offset: 2px;
  --magma-outline-focus: 2px solid var(--magma-outline-focus-color);
  --magma-overlay-blur: var(--magma-backdrop-blur);
  --magma-overlay-color: var(--magma-backdrop-color);
  --magma-overlay-opacity: 0.5;
  --magma-overlay: rgba(var(--magma-overlay-color) / var(--magma-overlay-opacity));
  --magma-selection-background: rgb(var(--label-sky-09));
  --magma-selection-color: rgb(var(--label-sky-01));
  --magma-theme-overlay-z-index: 6000;
  --magma-tooltip-z-index: 6000;
}
