.actions-view {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: end;
  pointer-events: none;
  position: absolute;
}

.actions {

  --mds-table-row-actions-background: var(--mds-table-row-background);

  align-items: center;
  background-color: var(--mds-table-row-actions-background);
  border-bottom-left-radius: calc(theme('borderRadius.lg') + var(--mds-table-border-width) * 2);
  border-top-left-radius: calc(theme('borderRadius.lg') + var(--mds-table-border-width) * 2);
  display: inline-flex;
  gap: var(--mds-table-row-actions-gap);
  inset: 0;
  margin-right: 100%;
  padding: calc(var(--mds-table-border-width) * 2);
  padding-right: 0;
  pointer-events: auto;
  position: sticky;
  right: 0;
  transform: translateX(100%);
  transition-duration: theme('transitionDuration.500');
  transition-property: transform, background-color, padding-right;
  transition-timing-function: theme('transitionTimingFunction.out-expo');
}

:host(:hover) .actions {
  transform: translateX(100%);
}

:host([overlay-actions]) .actions {
  padding-right: var(--mds-table-cell-padding);
  transform: translateX(100%);
}

:host([overlay-actions]:hover) .actions {

  --mds-table-row-actions-background: var(--mds-table-row-background);

  transform: translateX(0);
}

:host(:hover):host-context(mds-table[interactive="false"]) .actions,
:host(:hover):host-context(mds-table:not([interactive])) .actions {

  --mds-table-row-actions-background: var(--mds-table-row-background-hover);
}

:host(:not([selected]):hover):host-context(mds-table[selection]:not([interactive])) .actions,
:host(:not([selected]):hover):host-context(mds-table[selection][interactive="false"]) .actions,
:host([selected="false"]:hover):host-context(mds-table[selection]:not([interactive])) .actions,
:host([selected="false"]:hover):host-context(mds-table[selection][interactive="false"]) .actions {

  --mds-table-row-actions-background: var(--mds-table-row-background-alt);
}
