:host([sorted]) {

  --mds-table-row-background: var(--mds-table-row-background-alt);
  --mds-table-row-color: var(--mds-table-row-color-alt);
}

:host([sorted][selected]) {

  --mds-table-row-background: var(--mds-table-row-background-hover);
  --mds-table-row-color: var(--mds-table-row-color-hover);
}
