@tailwind utilities;

:host( [variant="info"] ),
:host( [variant="info"][tone="strong"] ) {

  --mds-toast-background: theme('colors.status-info-09');
  --mds-toast-color: theme('colors.status-info-02');
  --mds-toast-shadow: theme('boxShadow.lg-sharp');
  --mds-toast-icon-color: theme('colors.status-info-05');
}

:host( [variant="info"][tone="weak"] ) {

  --mds-toast-background: theme('colors.status-info-10');
  --mds-toast-color: theme('colors.status-info-03');
  --mds-toast-shadow: theme('boxShadow.sm-sharp');
  --mds-toast-icon-color: theme('colors.status-info-06');
}
