@tailwind utilities;

:host( [variant="dark"] ),
:host( [variant="dark"][tone="strong"] ) {

  --mds-toast-background: theme('colors.tone-neutral-02');
  --mds-toast-color: theme('colors.tone-neutral-09');
  --mds-toast-shadow: theme('boxShadow.lg-sharp');
  --mds-toast-icon-color: theme('colors.tone-neutral-09');
}

:host( [variant="dark"][tone="weak"] ) {

  --mds-toast-background: theme('colors.tone-neutral-03');
  --mds-toast-color: theme('colors.tone-neutral-10');
  --mds-toast-shadow: theme('boxShadow.sm-sharp');
  --mds-toast-icon-color: theme('colors.tone-neutral-08');
}
