@tailwind utilities;

/**
 * @prop --mds-stepper-bar-scroll-behavior: Sets the scroll-behavior animation
 */

:host {

  --mds-stepper-bar-scroll-behavior: smooth;

  @apply gap-600;

  display: grid;
  position: relative;
}

.items {
  @apply
    gap-0
    w-full
    z-10;

  display: flex;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  scroll-behavior: var(--mds-stepper-bar-scroll-behavior);
  scroll-snap-type: x mandatory;
}

:host( [linear="true"] ) ::slotted( mds-stepper-bar-item ),
:host( [linear] ) ::slotted( mds-stepper-bar-item ) {
  pointer-events: none;
}

:host( [linear="false"] ) ::slotted( mds-stepper-bar-item ) {
  pointer-events: auto;
}


.contents {
  @apply
    w-full
    opacity-0
    transition-opacity;

  display: flex;
  flex-direction: column;
}

:host( [hydrated] ) .contents {
  opacity: 1;
}

@import './css/mds-stepper-bar-pref-animation.css';
@import '../../tailwind/fouc.css';
