@tailwind utilities;

:host([variant="orange"]) {

  --mds-badge-color: theme('colors.tone-neutral');
}

:host([variant="orange"][tone="strong"]) {

  --mds-badge-background: theme('colors.label-orange-04');
}

:host([variant="orange"][tone="weak"]) {

  --mds-badge-background: theme('colors.label-orange-09');
  --mds-badge-color: theme('colors.label-orange-02');
}

:host([variant="orange"][tone="quiet"]) {

  --mds-badge-color: theme('colors.label-orange-04');
}

:host([variant="orange"][tone="ghost"]) {

  --mds-badge-background: transparent;
  --mds-badge-border-color: theme('colors.label-orange-06');
  --mds-badge-color: theme('colors.label-orange-04');
}

@container style(--magma-pref-contrast: more) {
  :host([variant="orange"]),
  :host([variant="orange"][tone="strong"]) {

    --mds-badge-background: theme('colors.label-orange-03');
  }

  :host([variant="orange"][tone="weak"]) {

    --mds-badge-color: theme('colors.label-orange-01');
  }

  :host([variant="orange"][tone="quiet"]) {

    --mds-badge-color: theme('colors.label-orange-02');
  }

  :host([variant="orange"][tone="ghost"]) {

    --mds-badge-background: transparent;
    --mds-badge-color: theme('colors.label-orange-03');
    --mds-badge-border-color: theme('colors.label-orange-03');
  }

}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host([variant="orange"]),
    :host([variant="orange"][tone="strong"]) {

      --mds-badge-background: theme('colors.label-orange-04');
    }

    :host([variant="orange"][tone="weak"]) {

      --mds-badge-color: theme('colors.label-orange-01');
    }

    :host([variant="orange"][tone="quiet"]) {

      --mds-badge-color: theme('colors.label-orange-02');
    }

    :host([variant="orange"][tone="ghost"]) {

      --mds-badge-background: transparent;
      --mds-badge-color: theme('colors.label-orange-03');
      --mds-badge-border-color: theme('colors.label-orange-03');
    }
  }
}
