@tailwind utilities;

:host([variant="yellow"]) {

  --mds-badge-color: theme('colors.tone-neutral');
}

:host([variant="yellow"][tone="strong"]) {

  --mds-badge-background: theme('colors.label-yellow-04');
}

:host([variant="yellow"][tone="weak"]) {

  --mds-badge-background: theme('colors.label-yellow-09');
  --mds-badge-color: theme('colors.label-yellow-02');
}

:host([variant="yellow"][tone="quiet"]) {

  --mds-badge-color: theme('colors.label-yellow-04');
}

:host([variant="yellow"][tone="ghost"]) {

  --mds-badge-background: transparent;
  --mds-badge-border-color: theme('colors.label-yellow-06');
  --mds-badge-color: theme('colors.label-yellow-04');
}

@container style(--magma-pref-contrast: more) {
  :host([variant="yellow"]),
  :host([variant="yellow"][tone="strong"]) {

    --mds-badge-background: theme('colors.label-yellow-03');
  }

  :host([variant="yellow"][tone="weak"]) {

    --mds-badge-color: theme('colors.label-yellow-01');
  }

  :host([variant="yellow"][tone="quiet"]) {

    --mds-badge-color: theme('colors.label-yellow-02');
  }

  :host([variant="yellow"][tone="ghost"]) {

    --mds-badge-background: transparent;
    --mds-badge-color: theme('colors.label-yellow-03');
    --mds-badge-border-color: theme('colors.label-yellow-03');
  }

}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host([variant="yellow"]),
    :host([variant="yellow"][tone="strong"]) {

      --mds-badge-background: theme('colors.label-yellow-04');
    }

    :host([variant="yellow"][tone="weak"]) {

      --mds-badge-color: theme('colors.label-yellow-01');
    }

    :host([variant="yellow"][tone="quiet"]) {

      --mds-badge-color: theme('colors.label-yellow-02');
    }

    :host([variant="yellow"][tone="ghost"]) {

      --mds-badge-background: transparent;
      --mds-badge-color: theme('colors.label-yellow-03');
      --mds-badge-border-color: theme('colors.label-yellow-03');
    }
  }
}
