@tailwind utilities;

:host([variant="orchid"]) {

  --mds-badge-color: theme('colors.tone-neutral');
}

:host([variant="orchid"][tone="strong"]) {

  --mds-badge-background: theme('colors.label-orchid-04');
}

:host([variant="orchid"][tone="weak"]) {

  --mds-badge-background: theme('colors.label-orchid-09');
  --mds-badge-color: theme('colors.label-orchid-02');
}

:host([variant="orchid"][tone="quiet"]) {

  --mds-badge-color: theme('colors.label-orchid-04');
}

:host([variant="orchid"][tone="ghost"]) {

  --mds-badge-background: transparent;
  --mds-badge-border-color: theme('colors.label-orchid-06');
  --mds-badge-color: theme('colors.label-orchid-04');
}

@container style(--magma-pref-contrast: more) {
  :host([variant="orchid"]),
  :host([variant="orchid"][tone="strong"]) {

    --mds-badge-background: theme('colors.label-orchid-03');
  }

  :host([variant="orchid"][tone="weak"]) {

    --mds-badge-color: theme('colors.label-orchid-01');
  }

  :host([variant="orchid"][tone="quiet"]) {

    --mds-badge-color: theme('colors.label-orchid-02');
  }

  :host([variant="orchid"][tone="ghost"]) {

    --mds-badge-background: transparent;
    --mds-badge-color: theme('colors.label-orchid-03');
    --mds-badge-border-color: theme('colors.label-orchid-03');
  }

}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host([variant="orchid"]),
    :host([variant="orchid"][tone="strong"]) {

      --mds-badge-background: theme('colors.label-orchid-04');
    }

    :host([variant="orchid"][tone="weak"]) {

      --mds-badge-color: theme('colors.label-orchid-01');
    }

    :host([variant="orchid"][tone="quiet"]) {

      --mds-badge-color: theme('colors.label-orchid-02');
    }

    :host([variant="orchid"][tone="ghost"]) {

      --mds-badge-background: transparent;
      --mds-badge-color: theme('colors.label-orchid-03');
      --mds-badge-border-color: theme('colors.label-orchid-03');
    }
  }
}
