@tailwind utilities;

:host([variant="sky"]) {

  --mds-badge-color: theme('colors.tone-neutral');
}

:host([variant="sky"][tone="strong"]) {

  --mds-badge-background: theme('colors.label-sky-04');
}

:host([variant="sky"][tone="weak"]) {

  --mds-badge-background: theme('colors.label-sky-09');
  --mds-badge-color: theme('colors.label-sky-02');
}

:host([variant="sky"][tone="quiet"]) {

  --mds-badge-color: theme('colors.label-sky-04');
}

:host([variant="sky"][tone="ghost"]) {

  --mds-badge-background: transparent;
  --mds-badge-border-color: theme('colors.label-sky-06');
  --mds-badge-color: theme('colors.label-sky-04');
}

@container style(--magma-pref-contrast: more) {
  :host([variant="sky"]),
  :host([variant="sky"][tone="strong"]) {

    --mds-badge-background: theme('colors.label-sky-03');
  }

  :host([variant="sky"][tone="weak"]) {

    --mds-badge-color: theme('colors.label-sky-01');
  }

  :host([variant="sky"][tone="quiet"]) {

    --mds-badge-color: theme('colors.label-sky-02');
  }

  :host([variant="sky"][tone="ghost"]) {

    --mds-badge-background: transparent;
    --mds-badge-color: theme('colors.label-sky-03');
    --mds-badge-border-color: theme('colors.label-sky-03');
  }

}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host([variant="sky"]),
    :host([variant="sky"][tone="strong"]) {

      --mds-badge-background: theme('colors.label-sky-04');
    }

    :host([variant="sky"][tone="weak"]) {

      --mds-badge-color: theme('colors.label-sky-01');
    }

    :host([variant="sky"][tone="quiet"]) {

      --mds-badge-color: theme('colors.label-sky-02');
    }

    :host([variant="sky"][tone="ghost"]) {

      --mds-badge-background: transparent;
      --mds-badge-color: theme('colors.label-sky-03');
      --mds-badge-border-color: theme('colors.label-sky-03');
    }
  }
}
