@tailwind utilities;

:host( [variant="dark"] ) {

  --mds-badge-color: theme('colors.tone-neutral-02');
}

:host( [variant="dark"][tone="strong"] ) {

  --mds-badge-background: theme('colors.tone-neutral-02');
  --mds-badge-color: theme('colors.tone-neutral-09');
}

:host( [variant="dark"][tone="weak"] ) {

  --mds-badge-background: theme('colors.tone-neutral-08');
  --mds-badge-color: theme('colors.tone-neutral-02');
}

:host( [variant="dark"][tone="ghost"] ) {

  --mds-badge-background: theme('colors.tone-neutral-09');
  --mds-badge-color: theme('colors.tone-neutral-03');
  --mds-badge-border-color: theme('colors.tone-neutral-03');
}
