@tailwind utilities;

:host([variant="success"]) {

  --mds-badge-color: theme('colors.tone-neutral');
}

:host([variant="success"][tone="strong"]) {

  --mds-badge-background: theme('colors.status-success-04');
}

:host([variant="success"][tone="weak"]) {

  --mds-badge-background: theme('colors.status-success-09');
  --mds-badge-color: theme('colors.status-success-02');
}

:host([variant="success"][tone="quiet"]) {

  --mds-badge-color: theme('colors.status-success-04');
}

:host([variant="success"][tone="ghost"]) {

  --mds-badge-background: transparent;
  --mds-badge-border-color: theme('colors.status-success-06');
  --mds-badge-color: theme('colors.status-success-04');
}

@container style(--magma-pref-contrast: more) {
  :host([variant="success"]),
  :host([variant="success"][tone="strong"]) {

    --mds-badge-background: theme('colors.status-success-03');
  }

  :host([variant="success"][tone="weak"]) {

    --mds-badge-color: theme('colors.status-success-01');
  }

  :host([variant="success"][tone="quiet"]) {

    --mds-badge-color: theme('colors.status-success-02');
  }

  :host([variant="success"][tone="ghost"]) {

    --mds-badge-background: transparent;
    --mds-badge-color: theme('colors.status-success-03');
    --mds-badge-border-color: theme('colors.status-success-03');
  }

}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host([variant="success"]),
    :host([variant="success"][tone="strong"]) {

      --mds-badge-background: theme('colors.status-success-04');
    }

    :host([variant="success"][tone="weak"]) {

      --mds-badge-color: theme('colors.status-success-01');
    }

    :host([variant="success"][tone="quiet"]) {

      --mds-badge-color: theme('colors.status-success-02');
    }

    :host([variant="success"][tone="ghost"]) {

      --mds-badge-background: transparent;
      --mds-badge-color: theme('colors.status-success-03');
      --mds-badge-border-color: theme('colors.status-success-03');
    }
  }
}
