@tailwind components;
@tailwind utilities;

@layer components {
  .animate-intro {
    @apply
      duration-500
      ease-in-out-expo;

    transition-property: background-color, border-color, box-shadow, color, fill, height, margin, opacity, padding, transform, width;
  }

  .animate-outro {
    @apply ease-in-cubic;

    transition-duration: var(--mds-toast-duration, 300ms);
    transition-property: background-color, border-color, box-shadow, color, fill, height, margin, opacity, padding, transform, width;
  }

  .animate-bottom-intro {
    transform: translate(0, calc(theme('translate.400') * -1));
  }

  .animate-bottom-outro {
    transform: translate(0, calc(theme('translate.full') + theme('translate.200')));
  }

  .animate-top-intro {
    transform: translate(0, calc(theme('translate.400')));
  }

  .animate-top-outro {
    transform: translate(0, calc(-1 * theme('translate.full') - theme('translate.400')));
  }
}
