@tailwind utilities;

@container style(--magma-pref-theme: dark) {
  :host {

    --mds-usage-badge-background: theme('colors.status-info-05');

    box-shadow: theme('boxShadow.outline');
  }

  :host([variant="do"]) {

    --mds-usage-badge-background: theme('colors.status-success-05');
  }

  :host([variant="dont"]) {

    --mds-usage-badge-background: theme('colors.status-error-05');
  }

  :host([variant="warn"]) {

    --mds-usage-badge-background: theme('colors.status-warning-05');
  }
}

@container style(--magma-pref-theme: system) {

  @media (prefers-color-scheme: dark) {
    :host {

      --mds-usage-badge-background: theme('colors.status-info-05');

      box-shadow: theme('boxShadow.outline');
    }

    :host([variant="do"]) {

      --mds-usage-badge-background: theme('colors.status-success-05');
    }

    :host([variant="dont"]) {

      --mds-usage-badge-background: theme('colors.status-error-05');
    }

    :host([variant="warn"]) {

      --mds-usage-badge-background: theme('colors.status-warning-05');
    }
  }
}
