:host([format="archive"]),
:host([format="executable"]) {

  --mds-file-preview-icon-color: theme('colors.label-amaranth-04');
  --mds-file-preview-color: theme('colors.label-amaranth-04');
  --mds-file-preview-icon-bacground: theme('colors.label-amaranth-10');
}

:host([format="attachment"]) {

  --mds-file-preview-icon-color: theme('colors.tone-neutral-04');
  --mds-file-preview-color: theme('colors.tone-neutral-04');
  --mds-file-preview-icon-bacground: theme('colors.tone-neutral-10');
}

:host([format="audio"]),
:host([format="video"]) {

  --mds-file-preview-icon-color: theme('colors.label-violet-04');
  --mds-file-preview-color: theme('colors.label-violet-04');
  --mds-file-preview-icon-bacground: theme('colors.label-violet-10');
}

:host([format="code"]),
:host([format="data"]),
:host([format="markup"]) {

  --mds-file-preview-icon-color: theme('colors.label-yellow-04');
  --mds-file-preview-color: theme('colors.label-yellow-04');
  --mds-file-preview-icon-bacground: theme('colors.label-yellow-10');
}

:host([format="certificate"]),
:host([format="document"]) {

  --mds-file-preview-icon-color: theme('colors.label-orange-04');
  --mds-file-preview-color: theme('colors.label-orange-04');
  --mds-file-preview-icon-bacground: theme('colors.label-orange-10');
}

:host([format="email"]),
:host([format="text"]) {

  --mds-file-preview-icon-color: theme('colors.label-blue-04');
  --mds-file-preview-color: theme('colors.label-blue-04');
  --mds-file-preview-icon-bacground: theme('colors.label-blue-10');
}

:host([format="image"]) {

  --mds-file-preview-icon-color: theme('colors.label-green-04');
  --mds-file-preview-color: theme('colors.label-green-04');
  --mds-file-preview-icon-bacground: theme('colors.label-green-10');
}

:host([format="slide"]) {

  --mds-file-preview-icon-color: theme('colors.label-orchid-04');
  --mds-file-preview-color: theme('colors.label-orchid-04');
  --mds-file-preview-icon-bacground: theme('colors.label-orchid-10');
}

:host([format="spreadsheet"]) {

  --mds-file-preview-icon-color: theme('colors.label-lime-04');
  --mds-file-preview-color: theme('colors.label-lime-04');
  --mds-file-preview-icon-bacground: theme('colors.label-lime-10');
}

:host([format="vector"]) {

  --mds-file-preview-icon-color: theme('colors.label-aqua-04');
  --mds-file-preview-color: theme('colors.label-aqua-04');
  --mds-file-preview-icon-bacground: theme('colors.label-aqua-10');
}
