@tailwind utilities;

/**
 * @prop --mds-accordion-timer-progress-bar-color: Sets the color of the progress bar when the mds-accordion-timer-item is selected
 * @prop --mds-accordion-timer-progress-bar-background: Sets the background-color of the progress bar when the mds-accordion-timer-item is selected
 * @prop --mds-accordion-timer-color: Sets the text color of the component mds-accordion-timer-item
 * @prop --mds-accordion-timer-progress-bar-thickness: Sets thickness of the progress bar of the mds-accordion-timer-item
 * @prop --mds-accordion-timer-duration: Sets the transition duration of open/close animation of the mds-accordion-timer-item
 */

:host {

  --mds-accordion-timer-progress-bar-color: theme('colors.tone-neutral-03');
  --mds-accordion-timer-progress-bar-background: theme('colors.tone-neutral-08');
  --mds-accordion-timer-progress-bar-thickness: theme('width.100');
  --mds-accordion-timer-duration: 500ms;

  /* comment */
  display: block;
}

@import './css/mds-accordion-timer-pref-animation.css';
@import '../../tailwind/fouc.css';
