@tailwind utilities;

@import '../../tailwind/fouc.css';

:host {

  @apply
    duration-200
    ease-out;

  border-top: var(--mds-table-cell-border-width) solid var(--mds-table-cell-border-color);
  display: table-row;
  overflow: hidden;
  transition-property: border-color;
}

::slotted(mds-table-cell) {

  --mds-table-cell-border-color: transparent;
}

@import './css/mds-table-footer-pref-animation.css';
