@tailwind utilities;

:host( [variant="light"] ),
:host( [variant="light"][tone="strong"] ) {

  --mds-banner-background: theme('colors.tone-neutral');
  --mds-banner-close-icon-hover-background: theme('colors.tone-neutral-09');
  --mds-banner-color: theme('colors.tone-neutral-02');
  --mds-banner-icon-color: theme('colors.tone-neutral-05');
  --mds-banner-shadow: theme('boxShadow.lg-sharp');
}

:host( [variant="light"][tone="weak"] ) {

  --mds-banner-background: theme('colors.tone-neutral');
  --mds-banner-close-icon-hover-background: theme('colors.tone-neutral-10');
  --mds-banner-color: theme('colors.tone-neutral-02');
  --mds-banner-icon-color: theme('colors.tone-neutral-05');
  --mds-banner-shadow: theme('boxShadow.sm-sharp');
}

:host( [variant="light"][tone="ghost"] ) {

  --mds-banner-color: theme('colors.tone-neutral-02');
  --mds-banner-close-icon-hover-background: theme('colors.tone-neutral-10');
  --mds-banner-shadow: none;
}

:host( [variant="light"][tone="quiet"] ) {

  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: transparent;
  --mds-banner-color: theme('colors.tone-neutral-10');
  --mds-banner-shadow: none;
}
