@tailwind utilities;

:host( [variant="info"] ),
:host( [variant="info"][tone="strong"] ) {

  --mds-banner-background: theme('colors.status-info-09');
  --mds-banner-close-icon-hover-background: theme('colors.status-info-08');
  --mds-banner-color: theme('colors.status-info-02');
  --mds-banner-icon-color: theme('colors.status-info-05');
  --mds-banner-shadow: none;
}

:host( [variant="info"][tone="weak"] ) {

  --mds-banner-background: theme('colors.status-info-10');
  --mds-banner-close-icon-hover-background: theme('colors.status-info-08');
  --mds-banner-color: theme('colors.status-info-03');
  --mds-banner-icon-color: theme('colors.status-info-06');
  --mds-banner-shadow: none;
}

:host( [variant="info"][tone="quiet"] ) {

  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: theme('colors.status-info-09');
  --mds-banner-color: theme('colors.status-info-03');
  --mds-banner-icon-color: theme('colors.status-info-06');
  --mds-banner-shadow: none;
}

:host( [variant="info"][tone="quiet"] ) .separator {
  display: none;
}
