@tailwind utilities;

:host( [variant="warning"] ),
:host( [variant="warning"][tone="strong"] ) {

  --mds-banner-background: theme('colors.status-warning-09');
  --mds-banner-close-icon-hover-background: theme('colors.status-warning-08');
  --mds-banner-color: theme('colors.status-warning-02');
  --mds-banner-icon-color: theme('colors.status-warning-05');
  --mds-banner-shadow: none;
}

:host( [variant="warning"][tone="weak"] ) {

  --mds-banner-background: theme('colors.status-warning-10');
  --mds-banner-close-icon-hover-background: theme('colors.status-warning-08');
  --mds-banner-color: theme('colors.status-warning-03');
  --mds-banner-icon-color: theme('colors.status-warning-06');
  --mds-banner-shadow: none;
}

:host( [variant="warning"][tone="quiet"] ) {

  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: theme('colors.status-warning-09');
  --mds-banner-color: theme('colors.status-warning-03');
  --mds-banner-icon-color: theme('colors.status-warning-06');
  --mds-banner-shadow: none;
}

:host( [variant="warning"][tone="quiet"] ) .separator {
  display: none;
}
