@tailwind utilities;

:host( [variant="success"] ),
:host( [variant="success"][tone="strong"] ) {

  --mds-banner-background: theme('colors.status-success-09');
  --mds-banner-close-icon-hover-background: theme('colors.status-success-08');
  --mds-banner-color: theme('colors.status-success-02');
  --mds-banner-icon-color: theme('colors.status-success-05');
  --mds-banner-shadow: none;
}

:host( [variant="success"][tone="weak"] ) {

  --mds-banner-background: theme('colors.status-success-10');
  --mds-banner-close-icon-hover-background: theme('colors.status-success-08');
  --mds-banner-color: theme('colors.status-success-03');
  --mds-banner-icon-color: theme('colors.status-success-06');
  --mds-banner-shadow: none;
}

:host( [variant="success"][tone="quiet"] ) {

  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: theme('colors.status-success-09');
  --mds-banner-color: theme('colors.status-success-03');
  --mds-banner-icon-color: theme('colors.status-success-06');
  --mds-banner-shadow: none;
}

:host( [variant="success"][tone="quiet"] ) .separator {
  display: none;
}
