@tailwind utilities;

:host( [variant="error"] ),
:host( [variant="error"][tone="strong"] ) {

  --mds-banner-background: theme('colors.status-error-09');
  --mds-banner-close-icon-hover-background: theme('colors.status-error-08');
  --mds-banner-color: theme('colors.status-error-02');
  --mds-banner-icon-color: theme('colors.status-error-05');
  --mds-banner-shadow: none;
}

:host( [variant="error"][tone="weak"] ) {

  --mds-banner-background: theme('colors.status-error-10');
  --mds-banner-close-icon-hover-background: theme('colors.status-error-08');
  --mds-banner-color: theme('colors.status-error-03');
  --mds-banner-icon-color: theme('colors.status-error-06');
  --mds-banner-shadow: none;
}

:host( [variant="error"][tone="quiet"] ) {

  --mds-banner-background: transparent;
  --mds-banner-close-icon-hover-background: theme('colors.status-error-09');
  --mds-banner-color: theme('colors.status-error-03');
  --mds-banner-icon-color: theme('colors.status-error-06');
  --mds-banner-shadow: none;
}

:host( [variant="error"][tone="quiet"] ) .separator {
  display: none;
}
