@tailwind utilities;

:host( [variant="green"] ),
:host( [variant="green"][tone="strong"] ) {

  --mds-label-background: theme('colors.label-green-04');
  --mds-label-button-background: theme('colors.label-green-04');
  --mds-label-button-background-hover: theme('colors.label-green-05');
  --mds-label-button-icon-color: theme('colors.label-green-10');
  --mds-label-color: theme('colors.label-green-10');
  --mds-label-icon-color: theme('colors.label-green-10');
  --mds-label-selection-background: theme('colors.label-green-08');
  --mds-label-selection-color: theme('colors.label-green-02');
}

:host( [variant="green"][tone="weak"] ) {

  --mds-label-background: theme('colors.label-green-08');
  --mds-label-button-background: theme('colors.label-green-09');
  --mds-label-button-background-hover: theme('colors.label-green-08');
  --mds-label-button-icon-color: theme('colors.label-green-04');
  --mds-label-color: theme('colors.label-green-02');
  --mds-label-icon-color: theme('colors.label-green-02');
  --mds-label-selection-background: theme('colors.label-green-06');
  --mds-label-selection-color: theme('colors.label-green-10');
}

:host( [variant="green"][tone="quiet"] ) {

  --mds-label-background: theme('colors.label-green-09');
  --mds-label-button-background: theme('colors.label-green-09');
  --mds-label-button-background-hover: theme('colors.label-green-08');
  --mds-label-button-icon-color: theme('colors.label-green-04');
  --mds-label-color: theme('colors.label-green-04');
  --mds-label-icon-color: theme('colors.label-green-04');
  --mds-label-selection-background: theme('colors.label-green-05');
  --mds-label-selection-color: theme('colors.label-green-09');
}
