@tailwind utilities;

:host( [variant="blue"] ),
:host( [variant="blue"][tone="strong"] ) {

  --mds-label-background: theme('colors.label-blue-04');
  --mds-label-button-background: theme('colors.label-blue-04');
  --mds-label-button-background-hover: theme('colors.label-blue-05');
  --mds-label-button-icon-color: theme('colors.label-blue-10');
  --mds-label-color: theme('colors.label-blue-10');
  --mds-label-icon-color: theme('colors.label-blue-10');
  --mds-label-selection-background: theme('colors.label-blue-08');
  --mds-label-selection-color: theme('colors.label-blue-02');
}

:host( [variant="blue"][tone="weak"] ) {

  --mds-label-background: theme('colors.label-blue-08');
  --mds-label-button-background: theme('colors.label-blue-09');
  --mds-label-button-background-hover: theme('colors.label-blue-08');
  --mds-label-button-icon-color: theme('colors.label-blue-04');
  --mds-label-color: theme('colors.label-blue-02');
  --mds-label-icon-color: theme('colors.label-blue-02');
  --mds-label-selection-background: theme('colors.label-blue-06');
  --mds-label-selection-color: theme('colors.label-blue-10');
}

:host( [variant="blue"][tone="quiet"] ) {

  --mds-label-background: theme('colors.label-blue-09');
  --mds-label-button-background: theme('colors.label-blue-09');
  --mds-label-button-background-hover: theme('colors.label-blue-08');
  --mds-label-button-icon-color: theme('colors.label-blue-04');
  --mds-label-color: theme('colors.label-blue-04');
  --mds-label-icon-color: theme('colors.label-blue-04');
  --mds-label-selection-background: theme('colors.label-blue-05');
  --mds-label-selection-color: theme('colors.label-blue-09');
}
