@tailwind utilities;

:host( [variant="sky"] ),
:host( [variant="sky"][tone="strong"] ) {

  --mds-label-background: theme('colors.label-sky-04');
  --mds-label-button-background: theme('colors.label-sky-04');
  --mds-label-button-background-hover: theme('colors.label-sky-05');
  --mds-label-button-icon-color: theme('colors.label-sky-10');
  --mds-label-color: theme('colors.label-sky-10');
  --mds-label-icon-color: theme('colors.label-sky-10');
  --mds-label-selection-background: theme('colors.label-sky-08');
  --mds-label-selection-color: theme('colors.label-sky-02');
}

:host( [variant="sky"][tone="weak"] ) {

  --mds-label-background: theme('colors.label-sky-08');
  --mds-label-button-background: theme('colors.label-sky-09');
  --mds-label-button-background-hover: theme('colors.label-sky-08');
  --mds-label-button-icon-color: theme('colors.label-sky-04');
  --mds-label-color: theme('colors.label-sky-02');
  --mds-label-icon-color: theme('colors.label-sky-02');
  --mds-label-selection-background: theme('colors.label-sky-06');
  --mds-label-selection-color: theme('colors.label-sky-10');
}

:host( [variant="sky"][tone="quiet"] ) {

  --mds-label-background: theme('colors.label-sky-09');
  --mds-label-button-background: theme('colors.label-sky-09');
  --mds-label-button-background-hover: theme('colors.label-sky-08');
  --mds-label-button-icon-color: theme('colors.label-sky-04');
  --mds-label-color: theme('colors.label-sky-04');
  --mds-label-icon-color: theme('colors.label-sky-04');
  --mds-label-selection-background: theme('colors.label-sky-05');
  --mds-label-selection-color: theme('colors.label-sky-09');
}
