@tailwind utilities;

:host( [variant="violet"] ),
:host( [variant="violet"][tone="strong"] ) {

  --mds-label-background: theme('colors.label-violet-04');
  --mds-label-button-background: theme('colors.label-violet-04');
  --mds-label-button-background-hover: theme('colors.label-violet-05');
  --mds-label-button-icon-color: theme('colors.label-violet-10');
  --mds-label-color: theme('colors.label-violet-10');
  --mds-label-icon-color: theme('colors.label-violet-10');
  --mds-label-selection-background: theme('colors.label-violet-08');
  --mds-label-selection-color: theme('colors.label-violet-02');
}

:host( [variant="violet"][tone="weak"] ) {

  --mds-label-background: theme('colors.label-violet-08');
  --mds-label-button-background: theme('colors.label-violet-09');
  --mds-label-button-background-hover: theme('colors.label-violet-08');
  --mds-label-button-icon-color: theme('colors.label-violet-04');
  --mds-label-color: theme('colors.label-violet-02');
  --mds-label-icon-color: theme('colors.label-violet-02');
  --mds-label-selection-background: theme('colors.label-violet-06');
  --mds-label-selection-color: theme('colors.label-violet-10');
}

:host( [variant="violet"][tone="quiet"] ) {

  --mds-label-background: theme('colors.label-violet-09');
  --mds-label-button-background: theme('colors.label-violet-09');
  --mds-label-button-background-hover: theme('colors.label-violet-08');
  --mds-label-button-icon-color: theme('colors.label-violet-04');
  --mds-label-color: theme('colors.label-violet-04');
  --mds-label-icon-color: theme('colors.label-violet-04');
  --mds-label-selection-background: theme('colors.label-violet-05');
  --mds-label-selection-color: theme('colors.label-violet-09');
}
