@tailwind utilities;

:host( [variant="orange"] ),
:host( [variant="orange"][tone="strong"] ) {

  --mds-label-background: theme('colors.label-orange-04');
  --mds-label-button-background: theme('colors.label-orange-04');
  --mds-label-button-background-hover: theme('colors.label-orange-05');
  --mds-label-button-icon-color: theme('colors.label-orange-10');
  --mds-label-color: theme('colors.label-orange-10');
  --mds-label-icon-color: theme('colors.label-orange-10');
  --mds-label-selection-background: theme('colors.label-orange-08');
  --mds-label-selection-color: theme('colors.label-orange-02');
}

:host( [variant="orange"][tone="weak"] ) {

  --mds-label-background: theme('colors.label-orange-08');
  --mds-label-button-background: theme('colors.label-orange-09');
  --mds-label-button-background-hover: theme('colors.label-orange-08');
  --mds-label-button-icon-color: theme('colors.label-orange-04');
  --mds-label-color: theme('colors.label-orange-02');
  --mds-label-icon-color: theme('colors.label-orange-02');
  --mds-label-selection-background: theme('colors.label-orange-06');
  --mds-label-selection-color: theme('colors.label-orange-10');
}

:host( [variant="orange"][tone="quiet"] ) {

  --mds-label-background: theme('colors.label-orange-09');
  --mds-label-button-background: theme('colors.label-orange-09');
  --mds-label-button-background-hover: theme('colors.label-orange-08');
  --mds-label-button-icon-color: theme('colors.label-orange-04');
  --mds-label-color: theme('colors.label-orange-04');
  --mds-label-icon-color: theme('colors.label-orange-04');
  --mds-label-selection-background: theme('colors.label-orange-05');
  --mds-label-selection-color: theme('colors.label-orange-09');
}
