@tailwind utilities;

:host( [variant="lime"] ),
:host( [variant="lime"][tone="strong"] ) {

  --mds-label-background: theme('colors.label-lime-04');
  --mds-label-button-background: theme('colors.label-lime-04');
  --mds-label-button-background-hover: theme('colors.label-lime-05');
  --mds-label-button-icon-color: theme('colors.label-lime-10');
  --mds-label-color: theme('colors.label-lime-10');
  --mds-label-icon-color: theme('colors.label-lime-10');
  --mds-label-selection-background: theme('colors.label-lime-08');
  --mds-label-selection-color: theme('colors.label-lime-02');
}

:host( [variant="lime"][tone="weak"] ) {

  --mds-label-background: theme('colors.label-lime-08');
  --mds-label-button-background: theme('colors.label-lime-09');
  --mds-label-button-background-hover: theme('colors.label-lime-08');
  --mds-label-button-icon-color: theme('colors.label-lime-04');
  --mds-label-color: theme('colors.label-lime-02');
  --mds-label-icon-color: theme('colors.label-lime-02');
  --mds-label-selection-background: theme('colors.label-lime-06');
  --mds-label-selection-color: theme('colors.label-lime-10');
}

:host( [variant="lime"][tone="quiet"] ) {

  --mds-label-background: theme('colors.label-lime-09');
  --mds-label-button-background: theme('colors.label-lime-09');
  --mds-label-button-background-hover: theme('colors.label-lime-08');
  --mds-label-button-icon-color: theme('colors.label-lime-04');
  --mds-label-color: theme('colors.label-lime-04');
  --mds-label-icon-color: theme('colors.label-lime-04');
  --mds-label-selection-background: theme('colors.label-lime-05');
  --mds-label-selection-color: theme('colors.label-lime-09');
}
