@tailwind utilities;

:host( [variant="dark"] ),
:host( [variant="dark"][tone="strong"] ) {

  --mds-label-background: theme('colors.tone-neutral-02');
  --mds-label-button-background: theme('colors.tone-neutral-02');
  --mds-label-button-background-hover: theme('colors.tone-neutral-04');
  --mds-label-button-icon-color: theme('colors.tone-neutral-10');
  --mds-label-color: theme('colors.tone-neutral-09');
  --mds-label-icon-color: theme('colors.tone-neutral-09');
  --mds-label-selection-background: theme('colors.tone-neutral-08');
  --mds-label-selection-color: theme('colors.tone-neutral-02');
}

:host( [variant="dark"][tone="weak"] ) {

  --mds-label-background: theme('colors.tone-neutral-08');
  --mds-label-button-background: theme('colors.tone-neutral-09');
  --mds-label-button-background-hover: theme('colors.tone-neutral-08');
  --mds-label-button-icon-color: theme('colors.tone-neutral-03');
  --mds-label-color: theme('colors.tone-neutral-02');
  --mds-label-icon-color: theme('colors.tone-neutral-02');
  --mds-label-selection-background: theme('colors.tone-neutral-06');
  --mds-label-selection-color: theme('colors.tone-neutral-10');
}

:host( [variant="dark"][tone="quiet"] ) {

  --mds-label-background: theme('colors.tone-neutral-09');
  --mds-label-button-background: theme('colors.tone-neutral-09');
  --mds-label-button-background-hover: theme('colors.tone-neutral-08');
  --mds-label-button-icon-color: theme('colors.tone-neutral-03');
  --mds-label-color: theme('colors.tone-neutral-04');
  --mds-label-icon-color: theme('colors.tone-neutral-04');
  --mds-label-selection-background: theme('colors.tone-neutral-05');
  --mds-label-selection-color: theme('colors.tone-neutral-09');
}
