@tailwind utilities;

:host( [variant="orchid"] ),
:host( [variant="orchid"][tone="strong"] ) {

  --mds-label-background: theme('colors.label-orchid-04');
  --mds-label-button-background: theme('colors.label-orchid-04');
  --mds-label-button-background-hover: theme('colors.label-orchid-05');
  --mds-label-button-icon-color: theme('colors.label-orchid-10');
  --mds-label-color: theme('colors.label-orchid-10');
  --mds-label-icon-color: theme('colors.label-orchid-10');
  --mds-label-selection-background: theme('colors.label-orchid-08');
  --mds-label-selection-color: theme('colors.label-orchid-02');
}

:host( [variant="orchid"][tone="weak"] ) {

  --mds-label-background: theme('colors.label-orchid-08');
  --mds-label-button-background: theme('colors.label-orchid-09');
  --mds-label-button-background-hover: theme('colors.label-orchid-08');
  --mds-label-button-icon-color: theme('colors.label-orchid-04');
  --mds-label-color: theme('colors.label-orchid-02');
  --mds-label-icon-color: theme('colors.label-orchid-02');
  --mds-label-selection-background: theme('colors.label-orchid-06');
  --mds-label-selection-color: theme('colors.label-orchid-10');
}

:host( [variant="orchid"][tone="quiet"] ) {

  --mds-label-background: theme('colors.label-orchid-09');
  --mds-label-button-background: theme('colors.label-orchid-09');
  --mds-label-button-background-hover: theme('colors.label-orchid-08');
  --mds-label-button-icon-color: theme('colors.label-orchid-04');
  --mds-label-color: theme('colors.label-orchid-04');
  --mds-label-icon-color: theme('colors.label-orchid-04');
  --mds-label-selection-background: theme('colors.label-orchid-05');
  --mds-label-selection-color: theme('colors.label-orchid-09');
}
