@tailwind utilities;

:host( [variant="yellow"] ),
:host( [variant="yellow"][tone="strong"] ) {

  --mds-label-background: theme('colors.label-yellow-04');
  --mds-label-button-background: theme('colors.label-yellow-04');
  --mds-label-button-background-hover: theme('colors.label-yellow-05');
  --mds-label-button-icon-color: theme('colors.label-yellow-10');
  --mds-label-color: theme('colors.label-yellow-10');
  --mds-label-icon-color: theme('colors.label-yellow-10');
  --mds-label-selection-background: theme('colors.label-yellow-08');
  --mds-label-selection-color: theme('colors.label-yellow-02');
}

:host( [variant="yellow"][tone="weak"] ) {

  --mds-label-background: theme('colors.label-yellow-08');
  --mds-label-button-background: theme('colors.label-yellow-09');
  --mds-label-button-background-hover: theme('colors.label-yellow-08');
  --mds-label-button-icon-color: theme('colors.label-yellow-04');
  --mds-label-color: theme('colors.label-yellow-02');
  --mds-label-icon-color: theme('colors.label-yellow-02');
  --mds-label-selection-background: theme('colors.label-yellow-06');
  --mds-label-selection-color: theme('colors.label-yellow-10');
}

:host( [variant="yellow"][tone="quiet"] ) {

  --mds-label-background: theme('colors.label-yellow-09');
  --mds-label-button-background: theme('colors.label-yellow-09');
  --mds-label-button-background-hover: theme('colors.label-yellow-08');
  --mds-label-button-icon-color: theme('colors.label-yellow-04');
  --mds-label-color: theme('colors.label-yellow-04');
  --mds-label-icon-color: theme('colors.label-yellow-04');
  --mds-label-selection-background: theme('colors.label-yellow-05');
  --mds-label-selection-color: theme('colors.label-yellow-09');
}
