@tailwind utilities;

mds-pref-language {
  @apply gap-400;

  display: grid;
}

.mds-pref-language-dropdown {
  @apply
    gap-100
    p-400;
}

.item {

  --mds-tab-item-color: theme('colors.tone-neutral-05');

  flex-basis: 0;
  flex-grow: 1;
}

.item--custom-language {
  cursor: pointer;
}

.item--auto,
.item--custom-language {

  --mds-tab-item-color-selected: theme('colors.tone-neutral-03');
}

@import '../../tailwind/fouc.css';
