@tailwind utilities;

@import '../../tailwind/fouc.css';

/**
 * @prop --mds-table-body-background-hover: The background-color of the table body when the mouse is over it
 * @prop --mds-table-body-background: The background-color of the table body
 */

:host {

  --mds-table-body-background-hover: var(--mds-table-background-alt, theme('colors.tone-neutral-10'));
  --mds-table-body-background: var(--mds-table-background, theme('colors.tone-neutral'));
  --mds-table-body-background-alt: var(--mds-table-body-background-hover);
  --mds-table-body-color-alt: var(--mds-table-color-alt, theme('colors.tone-neutral-05'));
  --mds-table-body-color: var(--mds-table-color, theme('colors.tone-neutral-02'));

  /* internal */
  --mds-table-row-color: var(--mds-table-body-color);

  @apply
    duration-200
    ease-out;

  background-color: var(--mds-table-body-background);
  display: table-row-group;
  overflow: hidden;
  transition-property: background-color;
}

:host(:last-child) ::slotted(*:last-child) {

  --mds-table-cell-border-color: transparent;
}

@import './css/mds-table-body-interactive.css';
@import './css/mds-table-body-selection.css';
@import './css/mds-table-body-pref-animation.css';
