@tailwind utilities;

@container style(--magma-pref-contrast: more) {
  :host {

    --mds-price-table-features-row-color: theme('colors.tone-neutral-01');
    --mds-price-table-features-row-color-hover: theme('colors.tone-neutral-01');
  }
}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host {

      --mds-price-table-features-row-color: theme('colors.tone-neutral-01');
      --mds-price-table-features-row-color-hover: theme('colors.tone-neutral-01');
    }
  }
}
