@tailwind utilities;

:host {

  --mds-price-table-list-separator-color: rgb(var(--tone-neutral-03) / 0.5);

  @apply
    duration-200
    ease-in-out
    gap-600
    p-600
    rounded-xl;

  background-color: theme('colors.label-green-10');
  display: grid;
  transition-property: background-color, color;
}


.separator {
  @apply
    duration-200
    ease-in-out;

  background-color: var(--mds-price-table-list-separator-color);
  transition-property: background-color;
}


.header {
  display: grid;
}

.main {
  @apply gap-300;

  display: grid;
}

.footer {
  @apply gap-400;

  display: grid;
}

@import './css/mds-price-table-list-pref-theme.css';
@import './css/mds-price-table-list-pref-contrast.css';
@import '../../tailwind/fouc.css';
