@tailwind utilities;

:host( [variant="light"] ) {

  --mds-tooltip-background: theme('colors.tone-neutral');
  --mds-tooltip-color: theme('colors.tone-neutral-02');
  --mds-tooltip-drop-shadow: drop-shadow(theme('dropShadow.DEFAULT.0')) drop-shadow(theme('dropShadow.DEFAULT.1'));
}

:host( [variant="dark"] ) {

  --mds-tooltip-background: theme('colors.tone-neutral-01');
  --mds-tooltip-color: theme('colors.tone-neutral');
  --mds-tooltip-drop-shadow: drop-shadow(theme('dropShadow.2xl'));
}
