:host([position="right"]) {
  align-items: center;
  justify-content: flex-end;
}

:host([position="right"]) .window {
  height: 100%;
  max-height: calc(100dvh - calc(var(--mds-modal-window-distance) * 2));
  max-width: calc(100vw - 80px);
}

:host([position="right"][opened="false"]) > ::slotted( [slot="window"] ),
:host([position="right"]:not([opened])) > ::slotted( [slot="window"] ) {
  transform: rotateX(0) rotateY(-22deg) rotateZ(0) scale(0.5) translate(100%, 0%);
}

:host([position="right"][opened="false"]) .window,
:host([position="right"]:not([opened])) .window {
  transform: translate(100%, 0%);
}

:host([position="right"]) .action-close {
  left: theme('spacing.300');
  top: theme('spacing.300');
  transform: translateX(120%) rotate(45deg);
}

:host([position="right"][opened]:not([opened="false"])) .action-close {
  transform: translateX(0);
}
