:host([position="top"]) {
  align-items: flex-start;
  justify-content: center;
}

:host([position="bottom"]) .window {
  height: auto;
  width: 100vw;
}

:host([position="top"][opened="false"]) > ::slotted( [slot="window"] ),
:host([position="top"]:not([opened])) > ::slotted( [slot="window"] ) {
  transform: rotateX(-22deg) rotateY(0) scale(0.5) translate(0, -80%);
}

:host([position="top"][opened="false"]) .window,
:host([position="top"]:not([opened])) .window {
  transform: translate(0, -100%);
}
