@tailwind utilities;

/**
 * @prop --mds-card-gap: Sets the spacing between card elements
 * @prop --mds-card-padding: Sets the spacing around card elements
 */

:host {

  --mds-card-gap: 0;
  --mds-card-padding: 0;

  @apply rounded-2xl;

  background-color: theme('colors.tone-neutral');
  box-shadow: theme('boxShadow.md-sharp');
  container-name: mds-card;
  container-type: inline-size;
  display: grid;
  min-height: theme('spacing.400');
  overflow: hidden;
}

.layout:not(.layout--disabled) ::slotted([slot="media"]) {
  grid-area: media;
}

.layout:not(.layout--disabled) ::slotted([slot="header"]) {
  grid-area: header;
}

.layout:not(.layout--disabled) ::slotted([slot="content"]) {
  grid-area: content;
}

.layout:not(.layout--disabled) ::slotted([slot="footer"]) {
  grid-area: footer;
}

.layout {
  @apply p-400;

  display: grid;
  gap: var(--mds-card-gap);
  grid-template-columns: repeat(auto-fit, minmax(1px, 100%));
  padding: var(--mds-card-padding);
}

.layout--cfhm:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "media"
    "content"
    "footer";
  grid-template-rows:
    min-content
    min-content
    1fr
    min-content;
}

.layout--chm:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "media"
    "content";
  grid-template-rows:
    min-content
    min-content
    1fr;
}

.layout--cfm:not(.layout--disabled) {
  grid-template-areas:
    "media"
    "content"
    "footer";
  grid-template-rows:
    min-content
    1fr
    min-content;
}

.layout--fhm:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "media"
    "footer";
  grid-template-rows:
    min-content
    1fr
    min-content;
}

.layout--cfh:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows:
    min-content
    1fr
    min-content;
}

.layout--hm:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "media";
  grid-template-rows:
    min-content
    1fr;
}

.layout--fm:not(.layout--disabled) {
  grid-template-areas:
    "media"
    "footer";
  grid-template-rows:
    1fr
    min-content;
}

.layout--cm:not(.layout--disabled) {
  grid-template-areas:
    "media"
    "content";
  grid-template-rows:
    min-content
    1fr;
}

.layout--fh:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "footer";
  grid-template-rows:
    min-content
    1fr;
}

.layout--ch:not(.layout--disabled) {
  grid-template-areas:
    "header"
    "content";
  grid-template-rows:
    min-content
    1fr;
}

.layout--cf:not(.layout--disabled) {
  grid-template-areas:
    "content"
    "footer";
  grid-template-rows:
    1fr
    min-content;
}

.layout--h:not(.layout--disabled) {
  grid-template-areas: "header";
  grid-template-rows: 1fr;
}

.layout--m:not(.layout--disabled) {
  grid-template-areas: "media";
  grid-template-rows: 1fr;
}

.layout--c:not(.layout--disabled) {
  grid-template-areas: "content";
  grid-template-rows: 1fr;
}

.layout--f:not(.layout--disabled) {
  grid-template-areas: "footer";
  grid-template-rows: 1fr;
}

@container mds-card (width > 30em) {
  .layout--cfhm:not(.layout--disabled) {
    grid-template-areas:
      "media header"
      "media content"
      "media footer";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      min-content
      1fr
      min-content;
  }

  .layout--chm:not(.layout--disabled) {
    grid-template-areas:
      "media header"
      "media content"
      "media content";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      min-content
      1fr
      1fr;
  }

  .layout--fhm:not(.layout--disabled) {
    grid-template-areas:
      "media header"
      "media footer";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      min-content
      1fr;
  }

  .layout--cfm:not(.layout--disabled) {
    grid-template-areas:
      "media content"
      "media footer";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      1fr
      min-content;
  }

  .layout--cm:not(.layout--disabled) {
    grid-template-areas:
      "media content";
    grid-template-columns: minmax(240px, 1fr) 2fr;
    grid-template-rows:
      1fr
      min-content;
  }
}

@import './css/mds-card-pref-theme.css';
@import './css/mds-card-pref-contrast.css';
@import '../../tailwind/fouc.css';
