@tailwind utilities;

:host( [variant="info"] ),
:host( [variant="info"][tone="strong"] ) {

  --mds-button-background: theme('colors.status-info-05');
  --mds-button-color: theme('colors.tone-neutral');
}

:host( [variant="info"]:hover ),
:host( [variant="info"][tone="strong"]:hover ) {

  --mds-button-background: theme('colors.status-info-04');
}

:host( [variant="info"][active] ),
:host( [variant="info"][tone="strong"][active] ) {

  --mds-button-background: theme('colors.status-info-06');
}

:host( [variant="info"][tone="weak"] ) {

  --mds-button-background: theme('colors.status-info-09');
  --mds-button-color: theme('colors.status-info-03');

  fill: theme('colors.status-info-03');
}

:host( [variant="info"][tone="weak"]:hover ) {

  --mds-button-background: theme('colors.status-info-08');

}

:host( [variant="info"][tone="weak"][active] ) {

  --mds-button-background: theme('colors.status-info-08');
  --mds-button-color: theme('colors.status-info-02');

  fill: theme('colors.status-info-02');
}

:host( [variant="info"][tone="ghost"] ) {

  --mds-button-background: transparent;
  --mds-button-border-color: theme('colors.status-info-04');
  --mds-button-color: theme('colors.status-info-03');
}

:host( [variant="info"][tone="ghost"]:hover ) {

  --mds-button-background: transparent;
  --mds-button-border-color: theme('colors.status-info-04');
  --mds-button-color: theme('colors.status-info-02');
}

:host( [variant="info"][tone="ghost"][active] ) {

  --mds-button-background: transparent;
  --mds-button-border-color: theme('colors.status-info-05');
  --mds-button-color: theme('colors.status-info-03');
}

:host( [variant="info"][tone="quiet"] ) {

  --mds-button-background: transparent;
  --mds-button-color: theme('colors.status-info-02');
}

:host( [variant="info"][tone="quiet"]:hover ) {

  --mds-button-background: transparent;
  --mds-button-color: theme('colors.status-info-04');
}

:host( [variant="info"][tone="quiet"][active] ) {

  --mds-button-background: transparent;
  --mds-button-color: theme('colors.status-info-01');
}

@container style(--magma-pref-contrast: more) {
  :host( [variant="info"] ),
  :host( [variant="info"][tone="strong"] ) {

    --mds-button-background: theme('colors.status-info-03');
    --mds-button-color: theme('colors.tone-neutral');
  }

  :host( [variant="info"]:hover ),
  :host( [variant="info"][tone="strong"]:hover ) {

    --mds-button-background: theme('colors.status-info-01');
  }

  :host( [variant="info"][active] ),
  :host( [variant="info"][tone="strong"][active] ) {

    --mds-button-background: theme('colors.status-info-04');
  }

  :host( [variant="info"][tone="weak"] ) {

    --mds-button-background: theme('colors.status-info-09');
    --mds-button-color: theme('colors.status-info-02');

    fill: theme('colors.status-info-02');
  }

  :host( [variant="info"][tone="weak"]:hover ) {

    --mds-button-background: theme('colors.status-info-08');
    --mds-button-color: theme('colors.status-info-01');

    fill: theme('colors.status-info-01');
  }

  :host( [variant="info"][tone="weak"][active] ) {

    --mds-button-background: theme('colors.status-info-08');
    --mds-button-color: theme('colors.status-info-01');

    fill: theme('colors.status-info-01');
  }

  :host( [variant="info"][tone="ghost"] ) {

    --mds-button-background: transparent;
    --mds-button-border-color: theme('colors.status-info-03');
    --mds-button-color: theme('colors.status-info-02');
  }

  :host( [variant="info"][tone="ghost"]:hover ) {

    --mds-button-background: transparent;
    --mds-button-border-color: theme('colors.status-info-03');
    --mds-button-color: theme('colors.status-info-01');
  }

  :host( [variant="info"][tone="ghost"][active] ) {

    --mds-button-background: transparent;
    --mds-button-border-color: theme('colors.status-info-04');
    --mds-button-color: theme('colors.status-info-02');
  }

  :host( [variant="info"][tone="quiet"] ) {

    --mds-button-background: transparent;
    --mds-button-color: theme('colors.status-info-01');
  }

  :host( [variant="info"][tone="quiet"]:hover ) {

    --mds-button-background: transparent;
    --mds-button-color: theme('colors.status-info-03');
  }

  :host( [variant="info"][tone="quiet"][active] ) {

    --mds-button-background: transparent;
    --mds-button-color: theme('colors.status-info-01');
  }
}

@container style(--magma-pref-contrast: system) {

  @media (prefers-contrast: more) {
    :host( [variant="info"] ),
    :host( [variant="info"][tone="strong"] ) {

      --mds-button-background: theme('colors.status-info-03');
      --mds-button-color: theme('colors.tone-neutral');
    }

    :host( [variant="info"]:hover ),
    :host( [variant="info"][tone="strong"]:hover ) {

      --mds-button-background: theme('colors.status-info-01');
    }

    :host( [variant="info"][active] ),
    :host( [variant="info"][tone="strong"][active] ) {

      --mds-button-background: theme('colors.status-info-04');
    }

    :host( [variant="info"][tone="weak"] ) {

      --mds-button-background: theme('colors.status-info-09');
      --mds-button-color: theme('colors.status-info-02');
  
      fill: theme('colors.status-info-02');
    }

    :host( [variant="info"][tone="weak"]:hover ) {
  
      --mds-button-background: theme('colors.status-info-08');
      --mds-button-color: theme('colors.status-info-01');
  
      fill: theme('colors.status-info-01');
    }

    :host( [variant="info"][tone="weak"][active] ) {
  
      --mds-button-background: theme('colors.status-info-08');
      --mds-button-color: theme('colors.status-info-01');
  
      fill: theme('colors.status-info-01');
    }

    :host( [variant="info"][tone="ghost"] ) {

      --mds-button-background: transparent;
      --mds-button-border-color: theme('colors.status-info-03');
      --mds-button-color: theme('colors.status-info-02');
    }

    :host( [variant="info"][tone="ghost"]:hover ) {

      --mds-button-background: transparent;
      --mds-button-border-color: theme('colors.status-info-03');
      --mds-button-color: theme('colors.status-info-01');
    }

    :host( [variant="info"][tone="ghost"][active] ) {

      --mds-button-background: transparent;
      --mds-button-border-color: theme('colors.status-info-04');
      --mds-button-color: theme('colors.status-info-02');
    }

    :host( [variant="info"][tone="quiet"] ) {

      --mds-button-background: transparent;
      --mds-button-color: theme('colors.status-info-01');
    }

    :host( [variant="info"][tone="quiet"]:hover ) {

      --mds-button-background: transparent;
      --mds-button-color: theme('colors.status-info-03');
    }

    :host( [variant="info"][tone="quiet"][active] ) {

      --mds-button-background: transparent;
      --mds-button-color: theme('colors.status-info-01');
    }
  }
}
