:host( [size="sm"] ) {
  @apply
    px-300
    py-0;

  --mds-button-radius: theme('borderRadius.md');

  min-height: theme('size.700');
  min-width: theme('size.700');
}

:host( .no-text[size="sm"] ) {
  @apply p-0;
}

:host( [size="sm"] ) .text {
  @apply font-medium;
}

:host( [size="sm"][await]:not([await="false"]) ) .await {
  transform: scale(theme('scale.75'));
}

:host( [size="md"] ) {
  @apply
    px-300
    py-100;

  min-height: theme('size.900');
  min-width: theme('size.900');
}

:host( .no-text[size="md"] ) {
  @apply p-100;
}

:host( [size="lg"] ) {
  @apply
    px-600
    py-200;

  min-height: theme('size.1100');
  min-width: theme('size.1100');
}

:host( .no-text[size="lg"] ) {
  @apply p-200;
}

:host( [size="xl"] ) {
  @apply
    px-800
    py-200;

  min-height: theme('size.1300');
  min-width: theme('size.1300');
}

:host( .no-text[size="xl"] ) {
  @apply p-200;
}
