@tailwind utilities;

/*
 * @prop --mds-pref-theme-overlay-fadeout-duration: Sets the fadeout duration of the overlay which hides UI color flash on theme change
 * @prop --mds-pref-theme-overlay-show-duration: Sets the show duration of the overlay which hides UI color flash on theme change
 * @prop --mds-pref-theme-overlay-z-index: Sets the z-index of the overlay which hides UI color flash on theme change
 */

:host {

  --mds-pref-theme-overlay-fadeout-duration: 200ms;
  --mds-pref-theme-overlay-show-duration: 300ms;
  --mds-pref-theme-overlay-z-index: var(--magma-theme-overlay-z-index, 6000);

  @apply gap-100;

  display: grid;
}

.item {

  --mds-tab-item-color: theme('colors.tone-neutral-05');

  flex-basis: 0;
  flex-grow: 1;
}

.item--system {

  --mds-tab-item-color-selected: theme('colors.tone-neutral-03');
}

.item--light {

  --mds-tab-item-color-selected: theme('colors.label-yellow-06');
}

.item--dark {

  --mds-tab-item-color-selected: theme('colors.label-sky-06');
}

@import './css/mds-pref-theme-pref-contrast.css';
@import '../../tailwind/fouc.css';
