@import '~@maggioli-design-system/styles/dist/css/animations.css'; /* included for focus effect */
@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

/**
 * @prop --mds-breadcrumb-item-arrow-depth-color: Sets the color of the arrow icon that separates buttons
 * @prop --mds-breadcrumb-item-button-background-selected: Sets the background color of the button when it's active
 * @prop --mds-breadcrumb-item-button-background-hover: Sets the background color of the button when the mouse is over it
 * @prop --mds-breadcrumb-item-button-background: Sets the background color of the button
 * @prop --mds-breadcrumb-item-button-color-selected: Sets the text color of the button when it's active
 * @prop --mds-breadcrumb-item-button-color-hover: Sets the text color of the button when the mouse is over it
 * @prop --mds-breadcrumb-item-button-color: Sets the text color of the button
 * @prop --mds-breadcrumb-item-outline-blur-offset: Sets the blur offset color when the button is blurred via keyboard
 * @prop --mds-breadcrumb-item-outline-blur: Sets the blur color when the button is blurred via keyboard
 * @prop --mds-breadcrumb-item-outline-focus-offset: Sets the focus offset color when the button is focused via keyboard
 * @prop --mds-breadcrumb-item-outline-focus: Sets the focus color when the button is focused via keyboard
 */

:host {

  --mds-breadcrumb-item-arrow-depth-color: var(--mds-breadcrumb-arrow-depth-color, theme('colors.tone-neutral-04'));
  --mds-breadcrumb-item-button-background-selected: var(--mds-breadcrumb-button-background-selected, theme('colors.tone-neutral-09'));
  --mds-breadcrumb-item-button-background-hover: var(--mds-breadcrumb-button-background-hover, theme('colors.tone-neutral-10'));
  --mds-breadcrumb-item-button-background: var(--mds-breadcrumb-button-background, transparent);
  --mds-breadcrumb-item-button-color-selected: var(--mds-breadcrumb-button-color-selected, theme('colors.tone-neutral-01'));
  --mds-breadcrumb-item-button-color-hover: var(--mds-breadcrumb-button-color-hover, theme('colors.tone-neutral-02'));
  --mds-breadcrumb-item-button-color: var(--mds-breadcrumb-button-color, theme('colors.tone-neutral-02'));

  @apply
    duration-200
    ease-out
    focus-bounce
    gap-0;

  align-items: center;
  display: flex;
  flex-shrink: 0;
  transition-property: box-shadow, outline, outline-offset;
  user-select: none;

}

:host(:focus-visible) {
  @apply focus-bounce--focused;
}

:host( :last-child ) .icon {
  display: none;
}

.text {
  @apply
    px-400
    py-100
    rounded-full;

  background-color: var(--mds-breadcrumb-item-button-background);
  color: var(--mds-breadcrumb-item-button-color);
  cursor: pointer;
  white-space: nowrap;
}

.text:hover {

  --mds-breadcrumb-item-button-background: var(--mds-breadcrumb-item-button-background-hover);
  --mds-breadcrumb-item-button-color: var(--mds-breadcrumb-item-button-color-hover);
}

:host( [selected]:not([selected="false"]) ) {

  --mds-breadcrumb-item-button-background: var(--mds-breadcrumb-item-button-background-selected);
  --mds-breadcrumb-item-button-color: var(--mds-breadcrumb-item-button-color-selected);

  pointer-events: none;

}

.text::first-letter {
  text-transform: uppercase;
}

.icon {
  @apply svg;

  fill: var(--mds-breadcrumb-item-arrow-depth-color);
  pointer-events: none;
}

@import '../../tailwind/fouc.css';
