@import '../../tailwind/components.css';

@tailwind components;
@tailwind utilities;

/**
 * @prop --mds-input-tip-item-background: Sets the background color of the tip item.
 * @prop --mds-input-tip-item-color: Sets the text color of the tip item.
 * @prop --mds-input-tip-item-icon-color: Sets the icon color fill of the tip item.
 */

:host {

  --mds-input-tip-item-background: theme('colors.tone-neutral-01');
  --mds-input-tip-item-color: theme('colors.tone-neutral');
  --mds-input-tip-item-icon-color: theme('colors.tone-neutral');

  @apply
    duration-300
    ease-out-expo
    h-300
    rounded-md;

  align-items: center;
  background-color: var(--mds-input-tip-item-background);
  color: var(--mds-input-tip-item-color);
  display: flex;
  justify-content: center;
  min-width: theme('spacing.300');
  padding: 0;
  pointer-events: none;
  position: static;
  text-align: center;
  transform: translate(0, 0);
  transition-property: background-color, border-radius, color, padding-left, padding-right, transform;
  user-select: none;
}

.content {
  @apply
    duration-200
    ease-out-expo
    h-300;

  display: grid;
  grid-template-columns: 0fr;
  opacity: 0;
  overflow: hidden;
  transition-property: grid-template-columns, opacity;
}

.text {
  line-height: theme('spacing.300');
}

.icon {
  @apply
    h-300
    svg
    w-300;

  fill: var(--mds-input-tip-item-icon-color);
  transform: translateY(-1px);
}

:host([expanded="false"]) {
  color: transparent;
}

:host([expanded]:not([expanded="false"])) {
  @apply px-200;

  --mds-input-tip-item-color: theme('colors.tone-neutral');
}

:host([expanded]:not([expanded="false"])) .content {
  grid-template-columns: 1fr;
  opacity: 1;
}

:host([variant="required"]) {

  --mds-input-tip-item-background: theme('colors.status-error-05');
}

:host([variant="required-success"]) {

  --mds-input-tip-item-background: theme('colors.status-success-05');
}

:host([variant="readonly"]) {

  --mds-input-tip-item-background: theme('colors.status-info-05');
}

:host([variant="disabled"]) {

  --mds-input-tip-item-background: theme('colors.tone-neutral-05');
}

:host([variant="text"]) {

  --mds-input-tip-item-background: theme('colors.tone-neutral-03');
}

@import './css/mds-input-tip-item-pref-animation.css';
@import '../../tailwind/fouc.css';
