:host([size="sm"]) {

  --mds-input-switch-box-padding: var(--mds-input-switch-box-padding-sm);
  --mds-input-switch-toggle-size: var(--mds-input-switch-toggle-size-sm);
  --mds-input-switch-toggle-container-size: calc(calc(var(--mds-input-switch-toggle-size-sm) * 2) + calc(var(--mds-input-switch-box-padding-sm) * 2));
}

:host([size="md"]) {

  --mds-input-switch-box-padding: var(--mds-input-switch-box-padding-md);
  --mds-input-switch-toggle-size: var(--mds-input-switch-toggle-size-md);
  --mds-input-switch-toggle-container-size: calc(calc(var(--mds-input-switch-toggle-size-md) * 2) + calc(var(--mds-input-switch-box-padding-md) * 2));
}

:host([size="lg"]) {

  --mds-input-switch-box-padding: var(--mds-input-switch-box-padding-lg);
  --mds-input-switch-toggle-size: var(--mds-input-switch-toggle-size-lg);
  --mds-input-switch-toggle-container-size: calc(calc(var(--mds-input-switch-toggle-size-lg) * 2) + calc(var(--mds-input-switch-box-padding-lg) * 2));
}
