@tailwind utilities;

@import '../../tailwind/fouc.css';

:host {

  @apply
    duration-200
    ease-out;

  border-bottom: var(--mds-table-cell-border-width) solid var(--mds-table-cell-border-color);
  display: table-row;
  overflow: hidden;
  transition-property: border-color;
}

.actions {
  text-align: right;
}

.selection {
  vertical-align: middle;
}

.checkbox-wrapper {
  display: flex;
}

@import './css/mds-table-header-pref-animation.css';
