@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

:host {

  --mds-help-tooltip-width: fit-content;
  --mds-help-tooltip-max-width: 280px;
  --mds-help-tooltip-delay: 0.25s;

  @apply ml-100;

  color: theme('colors.tone-neutral-03');
  cursor: help;
  display: inline-flex;
  fill: currentcolor;
  justify-content: flex-start;
  overflow: visible;
  position: relative;
}

i {
  @apply svg;
}

mds-tooltip {

  --mds-tooltip-delay: var(--mds-help-tooltip-delay);

  max-width: var(--mds-help-tooltip-max-width);
  min-width: var(--mds-help-tooltip-width);

}

mds-tooltip::part(text) {
  max-width: var(--mds-help-tooltip-max-width);
  min-width: var(--mds-help-tooltip-width);
  width: var(--mds-help-tooltip-width);
}

mds-icon,
i {
  @apply
    h-400
    w-400;

  fill: inherit;
}

@import '../../tailwind/fouc.css';
