@tailwind utilities;

/**
 * @prop --mds-label-background: Sets the background-color of the component
 * @prop --mds-label-color: Sets the text color of the component
 * @prop --mds-label-icon-color: Sets the color of the icon
 * @prop --mds-label-selection-background: Sets the selection background color of the text
 * @prop --mds-label-selection-color: Sets the selection color of the text
 */

:host {

  --mds-label-background: theme('colors.label-yellow-09');
  --mds-label-color: theme('colors.label-yellow-02');
  --mds-label-icon-color: var(--mds-label-color);
  --mds-label-radius: theme('spacing.150');
  --mds-label-selection-background: var(--magma-selection-background, theme('colors.label-yellow-09'));
  --mds-label-selection-color: var(--magma-selection-color, theme('colors.label-yellow-02'));
  --mds-label-button-background: theme('colors.label-yellow-08');
  --mds-label-button-background-hover: theme('colors.label-yellow-07');
  --mds-label-button-icon-color: theme('colors.label-yellow-03');

  @apply
    min-h-900
    pl-300
    ease-in-out
    duration-200;

  align-items: stretch;
  background-color: var(--mds-label-background);
  border-radius: var(--mds-label-radius);
  color: var(--mds-label-color);
  display: flex;
  fill: var(--mds-label-icon-color);
  transition-property: color, background-color, fill;
}

:host::selection {
  background-color: var(--mds-label-selection-background);
  color: var(--mds-label-selection-color);
}

.text {
  @apply
    min-w-0
    py-100;

  --mds-text-selection-background: var(--mds-label-selection-background);
  --mds-text-selection-color: var(--mds-label-selection-color);

  align-self: center;
  display: block;
  flex-grow: 1;
}

.text:last-child {
  @apply pr-300;
}

.button-close {

  @apply
    px-150
    rounded-r-md;

  --mds-button-background: var(--mds-label-button-background);

  border-radius: 0 var(--mds-label-radius) var(--mds-label-radius) 0;
  fill: var(--mds-label-button-icon-color);
  flex-shrink: 0;
  height: auto;
  transition-duration: inherit;
}

.button-close:hover {

  --mds-button-background: var(--mds-label-button-background-hover);
}

@import './css/mds-label-variant-amaranth.css';
@import './css/mds-label-variant-aqua.css';
@import './css/mds-label-variant-blue.css';
@import './css/mds-label-variant-dark.css';
@import './css/mds-label-variant-error.css';
@import './css/mds-label-variant-green.css';
@import './css/mds-label-variant-info.css';
@import './css/mds-label-variant-light.css';
@import './css/mds-label-variant-lime.css';
@import './css/mds-label-variant-orange.css';
@import './css/mds-label-variant-orchid.css';
@import './css/mds-label-variant-sky.css';
@import './css/mds-label-variant-success.css';
@import './css/mds-label-variant-violet.css';
@import './css/mds-label-variant-warning.css';
@import './css/mds-label-variant-yellow.css';
@import './css/mds-label-pref-theme.css';
@import './css/mds-label-pref-contrast.css';
@import '../../tailwind/fouc.css';
