@import '../../../tailwind/components.css';
@tailwind components;

:host(:not([scrollbar])) .tabs {
  @apply hide-scrollbar;
}

:host(:not([scrollbar])) .tabs::-webkit-scrollbar {
  display: none;
}

:host([scrollbar]:not([scrollbar="false"])) .tabs::-webkit-scrollbar {
  height: var(--mds-tab-scroll-scrollbar-size);
  width: var(--mds-tab-scroll-scrollbar-size);
}

:host([scrollbar]:not([scrollbar="false"])) .tabs::-webkit-scrollbar-track {
  background-color: var(--mds-tab-scroll-scrollbar-track-background);
  border-radius: var(--mds-tab-scroll-scrollbar-radius);
  margin-block: var(--mds-tab-scroll-scrollbar-margin);
  margin-inline: var(--mds-tab-scroll-scrollbar-margin);
}

:host([scrollbar]:not([scrollbar="false"])) .tabs::-webkit-scrollbar-thumb {
  background-color: var(--mds-tab-scroll-scrollbar-thumb-background);
  border-radius: var(--mds-tab-scroll-scrollbar-radius);
}

@supports (scrollbar-color: transparent transparent) {
  .tabs {
    scrollbar-color: var(--mds-tab-scroll-scrollbar-thumb-background) var(--mds-tab-scroll-scrollbar-track-background);
    scrollbar-width: thin;
  }
}
