@tailwind utilities;

@container style(--magma-pref-animation: reduce) {
  :host {

    --mds-tab-scroll-behavior: auto;
    --mds-tab-transition-duration: 0s;
  }
}

@container style(--magma-pref-animation: system) {

  @media (prefers-reduced-motion) {
    :host {

      --mds-tab-scroll-behavior: auto;
      --mds-tab-transition-duration: 0s;
    }
  }
}
