@tailwind utilities;

/**
 * @prop --mds-tab-bar-item-background-selected: Sets the background-color of the component when it's selected
 * @prop --mds-tab-bar-item-background: Sets the background-color of the component
 * @prop --mds-tab-bar-item-color-selected: Sets the text color of the component when it's selected
 * @prop --mds-tab-bar-item-color: Sets the text color of the component
 */

:host {

  --mds-tab-bar-item-background: theme('colors.tone-neutral-10');
  --mds-tab-bar-item-background-selected: transparent;
  --mds-tab-bar-item-color: theme('colors.tone-neutral-04');
  --mds-tab-bar-item-color-selected: theme('colors.variant-primary-03');

  @apply
    duration-200
    ease-in-out
    gap-100
    p-200;

  align-items: center;
  background-color: var(--mds-tab-bar-item-background);
  color: var(--mds-tab-bar-item-color);
  cursor: pointer;
  display: flex;
  fill: var(--mds-tab-bar-item-color);
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  transition-property: color, background-color, fill;
}

:host( [selected]:not([selected="false"]) ) {
  background-color: var(--mds-tab-bar-item-background-selected);
  color: var(--mds-tab-bar-item-color-selected);
  fill: var(--mds-tab-bar-item-color-selected);
}

@import './css/mds-tab-bar-item-pref-animation.css';
@import './css/mds-tab-bar-item-pref-theme.css';
@import './css/mds-tab-bar-item-pref-contrast.css';
@import '../../tailwind/fouc.css';
