@import '../../tailwind/components.css';
@tailwind components;
@tailwind utilities;

/**
 * @prop --mds-breadcrumb-arrow-depth-color: Sets the color of the arrow icon that separates buttons
 * @prop --mds-breadcrumb-button-background-current: Sets the background color of the button when it's active
 * @prop --mds-breadcrumb-button-background-disabled: Sets the background color of the button when it's disabled, is used for arrow button
 * @prop --mds-breadcrumb-button-background-hover: Sets the background color of the button when the mouse is over it
 * @prop --mds-breadcrumb-button-background: Sets the background color of the button
 * @prop --mds-breadcrumb-button-color-current: Sets the text color of the button when it's active
 * @prop --mds-breadcrumb-button-color-disabled: Sets the text color of the button when it's disabled, is used for arrow button
 * @prop --mds-breadcrumb-button-color-hover: Sets the text color of the button when the mouse is over it
 * @prop --mds-breadcrumb-button-color: Sets the text color of the button
 * @prop --mds-breadcrumb-current-button-color: Sets the text color of the current depth button
 */

:host {

  --mds-breadcrumb-arrow-depth-color: theme('colors.tone-neutral-04');
  --mds-breadcrumb-button-background-current: theme('colors.tone-neutral-09');
  --mds-breadcrumb-button-background-disabled: transparent;
  --mds-breadcrumb-button-background-hover: theme('colors.tone-neutral-10');
  --mds-breadcrumb-button-background: transparent;
  --mds-breadcrumb-button-color-current: theme('colors.tone-neutral-01');
  --mds-breadcrumb-button-color-disabled: theme('colors.tone-neutral-06');
  --mds-breadcrumb-button-color-hover: theme('colors.tone-neutral-02');
  --mds-breadcrumb-button-color: theme('colors.tone-neutral-02');
  --mds-breadcrumb-current-button-color: theme('colors.tone-neutral-05');

  @apply
    gap-0
    hide-scrollbar
    p-200;

  align-items: center;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;

}

:host::-webkit-scrollbar {
  display: none;
}

.back {
  @apply mr-100;

  --mds-button-background: var(--mds-breadcrumb-button-background);

  fill: var(--mds-breadcrumb-button-color);
  flex-shrink: 0;
}

.back:hover {

  --mds-button-background: var(--mds-breadcrumb-button-background-hover);

  fill: var(--mds-breadcrumb-button-color-hover);
}

.disabled {

  --mds-button-background: var(--mds-breadcrumb-button-background-disabled);

  fill: var(--mds-breadcrumb-button-color-disabled);
  pointer-events: none;
}

@import './css/mds-breadcrumb-pref-animation.css';
@import '../../tailwind/fouc.css';
